@using Ecommerce.Models
@model List<CartItem>

<div class="col-md-9 product-price">
    @{
        ViewBag.Title = "XemGioHang";
        Layout = "~/Views/Layout/ProductLayout.cshtml";
    }
    @if (Model == null || Model.Count ==0)
    {
        <h1>Giỏ hàng trống</h1>
    }
    else
    {
<table class="table">
    <tr>
        <td>Mã sản phẩm </td>
        <td>Tên sản phẩm</td>
        <td>Hình ảnh </td>
        <td>Số lượng</td>
        <td>Đơn giá </td>
        <td>Thành tiền</td>
        <td>Tổng tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSP</td>
            <td>@item.TenSP </td>
            <td><img src="@Url.Content("~/Content/images/"+item.HinhAnh)" style="height:50px;width:50px" /> </td>
            <td>@item.SoLuong</td>
            <td>@item.DonGia.ToString("#,##") </td>
            <td>@item.ThanhTien.ToString("#,##") </td>
            <td>
                @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
            </td>
        </tr>
    }
</table>
    }



    <div class="divDanghang" style="text-align:right">
        @using(Html.BeginForm("DatHang","GioHang"))
         {
            <input type="submit" value="Đặt Hàng" class="btn btn-danger"/>
            @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class ="btn btn-success"});
         }
  </div>

    </div>