@using Ecommerce.Models;
@model IEnumerable<SanPham>

<div class="content-top-bottom">
   <h2>@Model.First().LoaiSanPham.TenLoai</h2>
    <div class="col-md-6 men">
        <a href="@Url.Action("ChiTietSanPham","SanPham",new { id= @Model.ElementAt(3).MaSP})" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="@Url.Content("~/Content/images/"+Model.ElementAt(3).HinhAnh)" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-top top-in   b-delay03 ">
                    <span>@Model.ElementAt(3).CauHinh</span>
                </h3>
            </div>
        </a>
        <h3>@Model.ElementAt(3).TenSP</h3>

    </div>
    <div class="col-md-6">
        <div class="col-md1 ">
            <a href="@Url.Action("ChiTietSanPham","SanPham",new { id= @Model.ElementAt(0).MaSP})" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/images/"+Model.ElementAt(0).HinhAnh)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                        <span>@Model.ElementAt(0).CauHinh</span>
                    </h3>
                </div>
            </a>
            <h3>@Model.ElementAt(0).TenSP</h3>
        </div>
        <div class="col-md2">
            <div class="col-md-6 men1">
                <a href="@Url.Action("ChiTietSanPham","SanPham",new { id= @Model.ElementAt(1).MaSP})" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/"+Model.ElementAt(1).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@Model.ElementAt(1).CauHinh</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(1).TenSP</h3>
            </div>
            <div class="col-md-6 men2">
                <a href="@Url.Action("ChiTietSanPham","SanPham",new { id= @Model.ElementAt(2).MaSP})" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/"+Model.ElementAt(2).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@Model.ElementAt(2).CauHinh</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(2).TenSP</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
*<div class="content-bottom">
    <ul>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo1.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo2.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo3.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo4.png" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="~/Content/images/lo5.png" alt=""></a></li>
        <div class="clearfix"> </div>
    </ul>
</div>
